.imageSize {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  /* Membuat gambar bulat */
  transition: all 0.5s ease;
  object-fit: cover;
  /* Agar gambar tidak terdistorsi */
}

.imageSize:hover {
  transform: scale(1.1);
  /* Membesarkan gambar */
  border-radius: 15px;
  /* Mengubah bentuk menjadi persegi dengan sudut tumpul */
}

a {
  color: black;
  text-decoration: none;
}
.imageSizeGoodsList {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  /* Membuat gambar bulat */
  transition: all 0.3s ease;
  object-fit: cover;
  /* Agar gambar tidak terdistorsi */
}

.imageSizeGoodsList:hover {
  transform: scale(3);
  /* Membesarkan gambar */
  border-radius: 12px;
  /* Mengubah bentuk menjadi persegi dengan sudut tumpul */
}
